.pre-render {
    min-height: 80vh;
    background: #eee;
    margin: 0 auto;
}

.facts {
    padding-top: 20px;
    padding-right: 10%;
    background-color: #eee;
    padding-bottom: 10%;
    direction: rtl;

    h1 {
        line-height: 4rem;
        font-family: 'Poppins', Helvetica, sans-serif;
        font-size: 14px;
        color: #1a1e22;
        max-width: 14%;
        display: inline;
        margin: 2rem;
    }

    .dropdown {
        width: 7rem;
        padding-top: 0.3rem;
        padding-right: 1rem;
        padding-left: 1rem;

        option {
            padding-top: 3%;
        }
    }
    .fact-cards {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 90%;
        grid-column-gap: 1em;
        grid-row-gap: 1em;

        .card-items {
            display: flex;
            background-color: #ffffff;
            min-height: 150px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            font-family: 'Poppins', Helvetica, sans-serif;
            flex-direction: column;
        }

        .card-items:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }

    .spacing {
        .grid {
            padding: 20px;
            display: flex;
            justify-content: flex-start;

            .fact-image {
                padding: 20px 20px 0 20px;
            }

            h3 {
                font-family: 'Rubik', Helvetica, sans-serif;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .facts {
        padding-right: 5%;

        h1 {
            margin: 0.5rem;
        }
        .dropdown {
            width: 4rem;
            padding-top: 0.3rem;
            padding-right: 0;
            padding-left: 0;
        }
    }
}
